@model ContatoModel

@{
    ViewData["Title"] = "Excluir contato";
}

<div class="text-center">Deseja Mesmo excluir este contato?
<span class="text-opacity-50">Pense bem...</span>
</div>
<div class="text-center"
<button class="btn btn-danger">Excluir</button>
<button class="btn btn-secundary">Cancelar Exclusão</button>
</div>